<apex:page controller="ProcessInstanceController" tabStyle="Lead">
    <apex:form >
        <apex:sectionHeader title="Lead" subtitle="{!objLead.Name}"/>
        <apex:pageBlock title="Approve/Reject Approval Request">
            <apex:pageBlockButtons location="bottom">
                <apex:commandButton value="Approve" action="{!approve}"/>
                <apex:commandButton value="Reject" action="{!reject}"/>
                <apex:commandButton value="Cancel" action="{!cancel}"/>
            </apex:pageBlockButtons>  
            <apex:pageBlockSection columns="1">
                <apex:pageBlockSectionItem >
                Name <apex:outputField value="{!objLead.Name}"/>
                </apex:pageBlockSectionItem>
                <apex:pageBlockSectionItem >
                Lead Owner <apex:outputField value="{!objLead.Owner.Name}"/>
                </apex:pageBlockSectionItem>
                <apex:pageBlockSectionItem >
                Rejection Reason <font color="red"> (Mandatory while Rejection) </font><apex:inputField value="{!objLead.Owner.Name}"/>
                </apex:pageBlockSectionItem>
                <apex:pageBlockSectionItem >
                Comments <font color="red"> (Mandatory while Rejection) </font> <apex:inputTextArea value="{!objLead.Owner.Name}" rows="5" cols="100"/>
                </apex:pageBlockSectionItem>
            </apex:pageBlockSection>
        </apex:pageBlock>
    </apex:form>
</apex:page>