<apex:page standardController="Case">
    <apex:form >
        <apex:pageBlock title="Dados de Emissão RMA" mode="edit">
            <apex:pageBlockButtons >
                <apex:commandButton action="{!save}" value="Save"/>
				</apex:pageBlockButtons>
            <apex:pageBlockSection title="Dados" columns="2">
                <apex:inputField value="{!Case.id}"/>
            </apex:pageBlockSection>
        </apex:pageBlock>
    </apex:form>
</apex:page>