<apex:page >
  <!-- Begin Default Content REMOVE THIS -->
  <h1>Ajuda para o Objeto Candidato</h1>
    <p> O objeto Candidate é para identificar e acompanhar candidatos individuais para cargos.</p>
    <p> Classifique os candidatos por Nome, Localização, Última Modificação e Classificação de Prospecto.</p>
  <!-- End Default Content REMOVE THIS -->
</apex:page>