<apex:page controller="NewCaseListController">
 <apex:pageBlock >
    	<apex:pageBlockTable value="{!NewCases}" var="Case">
			<apex:column value="{!Case.id}"/>
        	<apex:column value="{!Case.CaseNumber}"/>
        	<apex:column value="{!Case.Origin}"/>
        	<apex:column value="{!Case.Status}"/>
	  </apex:pageBlockTable>
  </apex:pageBlock>
  
    <apex:repeat var="case" value="{!NewCases}">
  <li>
 	 <apex:outputLink value="/{!case.id}">{!case.id}</apex:outputLink>{!case.CaseNumber}
  </li>



  </apex:repeat>
    
    
    
</apex:page>